* { 
    padding : 0;
    margin: 0;
    background-color: #141414;
    color: #CFC8C2;
  font-family: "Courier New", Courier, monospace;
}

@media screen and (max-width: 768px) {
    .navbar-y {
        display : none;
    }

    embed {
        display : none;
    }
    
    img {
        max-width : 100px;
        height : 100px;    
    }

    iframe {
        display : none;
    }
}

.navbar-x {
    z-index : 1;
    position : fixed;
    width : 100%;
    padding : 0;
    margin: 0;
}

.navbar-x > ul {
    padding : 0;
    margin: 1%;
    list-style-type: none;
    border-color : #343434;
    border-style : solid;
    border-width : 2px;
}

.navbar-x > ul > a {
    margin: 0;
    top : 0;
    display : inline-block;
    padding : 1% 2%;
    border-color : #343434;
    border-style : solid;
    border-width : 2px;
}

.navbar-y {
    position : fixed;
    top : 10%;
    width : 10%;
    height : 80%;
}

.navbar-y > ul {   
    margin : 10%;
    height : 100%;
    list-style-type: none;
    border-color : #343434;
    padding : 10%;
    border-style : solid;
    border-width : 2px;
}

.active {
    background-color : coral;
}

.active *{
    background-color : coral;
}

.active > a{
    color : #343434;
}

.active > a:hover{
    color : #343434;
}

img {
    padding : 1%;
    height : 30em;
    width : 30em;
    overflow : hidden;
    object-fit : cover;
    opacity : 75%;
}

.navbar-x > ul > a > li:hover{
    color:coral;
}

a:hover {
    color : coral;
}

img:hover {
    opacity :100%;
}

main:hover {
    border-color : coral;
}

#projectMain:hover {
    border-color : coral;
}

.navbar-y > ul:hover {
    border-color : coral;
}

.navbar-x > ul:hover {
    border-color : coral;
}

embed {
    background-color: #CFC8C2;
    margin-left: 5%;
    margin : 2% 0;
}

main{
    padding-top : 100px;
    padding-left : 2%;
    margin : 0 2% 2% 2%;
    padding-bottom : 2%;
    border-color : #343434;
    border-style : solid;
    border-width : 2px;
}

#projectMain {
    padding-top : 100px;
    padding-bottom : 2%;
    margin : 0 2% 2% 10%;
    border-color : #343434;
    border-style : solid;
    border-width : 2px;
}

p {
    padding : 2% 2%;
    max-width: 70%;
}

hr {
    padding: 0 !important;
    margin : 2%;
    max-width : 70%;
}

