@font-face {
    font-family: 'Alice-Regular';
    src: URL('assets/Alice-Regular.ttf');
}


* { 
    padding : 0;
    margin: 0;
    background-color: #141414;
    color: #CFC8C2;
}

@media screen and (max-width: 768px) {
    .navbar-y {
        display : none;
    }
}

.navbar-x {
    z-index : 1;
    position : fixed;
    width : 100%;
    padding : 0;
    margin: 0;
}

.navbar-x > ul {
    padding : 0;
    margin: 1%;
    list-style-type: none;
    border-color : #343434;
    border-style : solid;
    border-width : 2px;
}

.navbar-x > ul > li {
    margin: 0;
    top : 0;
    display : inline-block;
    padding : 1% 2%;
    border-color : #343434;
    border-style : dotted;
    border-width : 2px;
}

.navbar-y {
    position : fixed;
    top : 10%;
    width : 10%;
    height : 80%;
}

.navbar-y > ul {   
    margin : 10%;
    height : 100%;
    list-style-type: none;
    border-color : #343434;
    padding : 10%;
    border-style : solid;
    border-width : 2px;
}

.active {
    background-color : coral;
}

.active *{
    background-color : coral;
}

.active > a:hover{
    color : #800020;
}

img {
    padding : 1%;
    max-height : 30%;
    width : 30%;
    opacity : 50%;
}

a:hover{
    color:coral;
}

img:hover {
    opacity :100%;
}

main:hover {
    border-color : coral;
}

#projectMain:hover {
    border-color : coral;
}

.navbar-y > ul:hover {
    border-color : coral;
}

.navbar-x > ul:hover {
    border-color : coral;
}

embed {
    background-color: #CFC8C2;
    margin-left: 5%;
    margin : 2% 0;
}

main{
    padding-top : 100px;
    padding-left : 2%;
    margin : 0 2% 2% 2%;
    padding-bottom : 2%;
    font-family : 'Alice-Regular';
    border-color : #343434;
    border-style : solid;
    border-width : 2px;
}

#projectMain {
    padding-top : 100px;
    padding-bottom : 2%;
    margin : 0 2% 2% 10%;
    font-family : 'Alice-Regular';
    border-color : #343434;
    border-style : solid;
    border-width : 2px;
}

p {
    padding : 2% 2%;
    max-width: 70%;
}

hr {
    padding: 0 !important;
    margin : 2%;
    max-width : 70%;
}

