@font-face {
    font-family: 'Alice-Regular';
    src: URL('assets/Alice-Regular.ttf');
}


* { 
    padding : 0;
    margin: 0;
    background-color: #323427;
    color: aliceblue;
}

@media screen and (max-width: 768px) {
    .navbar-y {
        font-size:50%;
    }
}

.navbar-x {
    z-index : 1;
    position : fixed;
    width : 100%;
    padding : 0;
    margin: 0;
}

.navbar-x > ul {
    padding : 0;
    margin: 0;
    list-style-type: none;
    border-color : aliceblue;
    border-style : solid;
    border-width : 2px;
}

.navbar-x > ul > li {
    padding : 0;
    margin: 0;
    display : inline-block;
    padding : 1% 2%;
    border-color : aliceblue;
    border-style : dotted;
    border-width : 2px;
}

.navbar-y {
    position : fixed;
    top : 5%;
    width : 10%;
    height : 100%;
}

.navbar-y > ul {
    height : 100%;
    list-style-type: none;
    border-color : aliceblue;
    padding : 10%;
    border-style : solid;
    border-width : 2px;
}

.active {
    background-color : coral;
}

.active *{
    background-color : coral;
}

.active > a:hover{
    color : #800020;
}

img {
    padding : 1%;
    max-height : 35%;
    max-width : 35%;
    opacity : 50%;
}

a:hover{
    color:coral;
}

img:hover {
    opacity :100%;
}

embed {
    background-color: oldlace;
    margin-left: 5%;
    margin : 2% 0;
}

main {
    padding-top: 60px;
    padding-left: 12%;
    font-family: 'Alice-Regular';
}

p {
    padding : 2% 2%;
    max-width: 70%;
}

hr {
    padding: 0 !important;
    margin : 2%;
    max-width : 70%;
}

